{{ attach_library('animate_slider/animate_slider') }}
<ul class="anim-slider">

		<!-- Slide No1 -->
		<li class="anim-slide">
            <div>
            <img src="img/1.PNG" id="img"/>
            </div>
            <p id="text">Hello</p>
		</li>

		
		<!-- Slide No2 -->
		<li class="anim-slide">
			<h3 id="todo">So what you can do ...</h3>
			
			<h3 id="bounce">bounce</h3>
			<h4 id="bounceUp">bounceInUp</h4>
			<h4 id="bounceRight">bounceInRight</h4>
			
			<h3 id="fade">fade</h3>
			<h4 id="fadeUp">fadeInUp</h4>
			<h4 id="fadeDown">fadeInDown</h4>
			
			<h3 id="rotate">rotate</h3>
			<h4 id="rotateRight">rotateInUpRight</h4>
			<h4 id="rotateLeft">rotateInUpLeft</h4>
		</li>

		<!-- Slide No3 -->
		<li class="anim-slide">
			<img src="images/demo1/css3.png" alt="CSS3" id="css3">
			<img src="images/demo1/html5.png" alt="HTML5" id="html5">
			<img src="images/demo1/jquery.png" alt="jQuery" id="jquery">
			<img src="images/demo1/modernizr.png" alt="Modernizr" id="modernizr">
			<h2 id="animatecss">Animate.css</h2>
		</li>

		<!-- Arrows -->
		<nav class="anim-arrows">
			<span class="anim-arrows-prev"></span>
			<span class="anim-arrows-next"></span>
		</nav>
		<!-- Dynamically created dots -->
		
	</ul>